@import '@/App.scss';

.wrapper {
  position: relative;
  min-height: 400px;
  padding: 60px 0;
  overflow: hidden;
  background-color: #2e3232;
}

.content {
  @include common-content;

  position: relative;

  video {
    width: 100%;
    vertical-align: top;
    outline: none;

    &::-webkit-media-controls-panel {
      background: transparent;
    }
  }
}

.title {
  position: absolute;
  top: 90px;
  left: 50%;
  z-index: 2;
  width: $content-width;
  max-width: 1920px * 0.86;
  margin-top: 0;
  transition: opacity 1s;
  transform: translateX(-50%);

  &.playing {
    pointer-events: none;
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    // height: $program-height-mobile;

    min-height: unset;
    padding: 50px 0;
  }

  .title {
    position: unset;
    margin: 0 19px;
    transform: unset;

    &.playing {
      opacity: 1;
    }
  }

  .content {
    @include content-mobile;

    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}
