@media print
	blockquote, img, pre
		page-break-inside: avoid
	@page
		padding: 1.5cm
	blockquote, h2, h3, h4, p
		orphans: 3
		widows: 3
	h2, h3
		page-break-after: avoid
	.mod
		&-hd
			margin-bottom: 20px
			box-shadow: none
			border-bottom: none
			
			&-main
				display: none
			&-toggle
				display: none
			
			.mod-logo
				float: initial
				text-align: center
			
				& a
					display: inline-block
					background: url('../img/o2logo@2x.png') no-repeat
					background-size: 100% auto
					-webkit-print-color-adjust: exact
				    print-color-adjust: exact
				    
		&-side
			display: none
		
		&-backtop
			display: none !important
		
		&-ft
			display: none
	
	.post
		&-nav
			display: none
		&-comments
			display: none
		&-revision
			border: none
			
	a[href^="http"]:after
		content: " (" attr(href) ") "
		font-size: 0.8em
		font-weight: normal
	
	a[href*="aotu.io"]:after
		display: none