.page-search
    ++mobile(){
        background: #fafafa
    }
.search-result-tit
    margin-bottom: 15px
    font-size: 16px
    font-weight: normal
    & em 
        margin: 0 5px
        color: $color-theme
    +mobile(){
        margin 0 15px 15px
    }