@import "../_highlight/highlight";


.post
    background: #fff
    word-wrap: break-word
    &-hd
        padding: 20px 0
    &-tit
        margin-bottom: 5px
        color: #333
        //font-size: 28px
        font-weight: 300
    &-meta
        font-size: 12px
        overflow: hidden
        margin-bottom: 30px
        & a
          text-decoration: none
  
    &-subtit
        position: relative
        padding: 10px 10px 10px 38px;
        margin-bottom: 20px
        font-size: 14px
        background: #f1f1f1
        color: #888
        & i
            position: absolute
            left: 11px
            top: 12px
    &:before
        display: none
        content: ' '
        position: absolute
        width: 3px
        height: 100%
        background: $color-theme
        left: 0
        top: 0
    
    &-cover
        padding-top: 20px
        img
            display: block
            +mobile()
              width: 100%
        +mobile()
          padding-top: 0
  
    &-revision
        font-size: 12px
        color: #999
        margin: 20px 0
        padding-bottom: 20px
        border-bottom:1px dashed #eee  
    
    &-nav
        clearfix()
        margin-bottom: 20px    
        &-prev
            float: left
        &-next
            float: right
        &-prev
        &-next
            max-width: 49%
            overflow: hidden
            & a
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap
              width: 100%
              display: block
              border-bottom: none
              color: color-link

    &-content
        padding: 0 0 20px 0
        & a
            vertical-align: top
        & img
            max-width: 80%
            margin: 0 0 10px
        > table 
            margin: 20px 0
            width: 100%
            table-layout: fixed
            word-wrap: break-word
        & .post-heading
            & + .post-heading
                padding-top: 0
            &:first-child
                padding-top: 0
                margin-top: 0
    +mobile() {
        &-hd,
        &-content,
        &-nav,
        &-comments {
            padding: 0 20px
        }
        
        &-hd {
            text-align: center
        }
        
            
    }
    