       
@import "banner"
@import "cates"
@import "posts"

.page-index
    +mobile() {
        & .mod-container {
            padding-top: 0 
            background: #fafafa   
        }
    }

