@mixin pager-item {
    display: inline-block;
    position: relative;
    top: -1px;
    margin: 0 10px;
    padding: 0 2em;
    line-height: 3em;
    box-shadow: inset 0 0 0 1px _palette(border);
    color: _palette(fg-bold);
    font-family: _font(family-heading);
    border: 0;
}

.page-number-basic {
    @include pager-item
    @include breakpoint(small) {
        margin:0 5px;
    }
}
.pagination {
    
    margin: 0px 0 20px;
    .prev,
    .next,
    .page-number,
    .space {
        @include pager-item    
        @include breakpoint(small) {
            margin:0 5px;
        }
    }

    > * {
        &:first-child {
            margin-left: 0;
        }
    }   

    .prev,
    .next,
    .page-number {
        transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
        &:hover {
            box-shadow: inset 0 0 0 1px _palette(accent);
            color: _palette(accent) !important;
        }
        &:active {
            background-color: transparentize(_palette(accent), 0.95);
        }
    }
    .space {
        padding: 0;
        margin: 0;
    }
    .prev {
        margin-left: 0;
    }
    .next {
        margin-right: 0;
    }
    .page-number.current {
        @include vendor('pointer-events', 'none');
        color: _palette(border);
    }

    @include breakpoint(small) {
        border-top: none;
        .prev,
        .next,
        .page-number {
            margin-bottom: 10px;
            border-top: 0;
            border-bottom: 1px solid #eee;
            &:hover {
                border-bottom-color:#222;
            }
        }
    }
    &-post {
        @include clearfix();
        &-prev {
            float:left;
        }
        &-next {
            float:right;
        } 
    }
}
