section, article {
    &.special {
        text-align: center;
    }
}

header {
    p {
        font-family: _font(family-heading);
        font-size: 0.7em;
        font-weight: _font(weight-heading);
        letter-spacing: _font(kerning-heading);
        line-height: 2.5;
        margin-top: -1em;
        text-transform: uppercase;
    }
}
