layout: index
css: home.css
description: |
    凹凸实验室(Aotu.io) 始建于2015年，是一个年轻激进的技术社区组织。O2面向多终端技术体系，致力于构建沉淀与分享包括但不限于交互、页面制作技巧、前端开发、原生APP开发等方面的专业知识及案例。
---
<div class="card">
    <div class="card-hd">
        <img src="assets/images/o2.png" class="card-logo responsive-img"/>
    </div>
    <div class="card-bd">
        <h2 class="card-tit">The O2 Team</h2>
        <p class="card-desc">O2多终端研发中心</p>
        <div class="main-link">
            <div class="link">
                <a href="//github.com/o2team">GITHUB</a>
            </div>
            <div class="link">
                <a href="/notes/">NOTES</a>
            </div>
            <div class="link">
                <a href="/projects/">PROJECTS</a>
            </div>
            <div class="link">
                <a href="/about/">ABOUT</a>
            </div>
        </div>
    </div>
</div>
