.mod-backtop
    display: none
    position: fixed
    bottom: 20px
    right: 15px
    z-index: 999
    width: 40px
    height: 40px
    background: rgba(0,0,0,.7)
    color: #fff
    text-align: center
    line-height: 40px
    font-size: 20px