
.mod-ft 
    margin-top: 30px
    background: #f8f8f8
    padding: 20px 0
    text-align: center
    border-top: 1px solid #eee
    +mobile() {
        margin-top: 0  
    }

    &-links li
        width:32px
        height:32px
        line-height:32px
        text-align: center
        display: inline-block
        background-color: #f1f1f1
        border-radius: 50%
        margin: 0 5px
    &-copyright
        margin: 10px 0
        font-size: 12px
        & p
            margin-bottom: 5px
        
    
 

