.mod-side
    background: #fff
    &-sec
        margin-bottom: 30px
        &:last-child
            margin-bottom 0
        &-hd
          position: relative
          padding-left: 15px
          height: 20px
          line-height: @height
          &:before
            content: ' '
            position: absolute
            left: 0
            height: 100%
            width: 3px;
            background: $color-theme
          h2
            font-size: 16px
            font-weight: normal
        &-bd
          padding: 10px 15px
    +mobile() {
        margin-top: 20px
        border-top: 1px solid #ddd 
    }
          
    &-list
      overflow: hidden
      & li
        margin-bottom: 8px
        font-size: 14px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        &:last-child
            margin-bottom: 0
        +mobile() {
           float: left
           width: 45%
           margin-right: 10%
           &:nth-child(2n) {
               margin-right: 0
           }
        }
        
.aotuwx
    padding-bottom: 10px
    &-qrcode
        display: block
        width: 100%
        max-width: 224px
        margin: 0 auto 10px
    &-slogan
      text-align: center

      
      
  