@import '@/App.scss';

.wrapper {
  display: inline-block;
  width: 18.8%;
  height: 90%;
  margin-right: 1.5%;
  vertical-align: top;

  .content-img {
    width: 100%;
    height: 81%;
    overflow: hidden;

    .img-inner {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-underline {
    width: 100%;
    height: 8px;
    background-color: $module-dark;
  }

  .content-name {
    margin-top: 8%;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    color: $module-dark;

    /* color: $aotu-blue; */
  }

  .content-desc {
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    color: #707070;
  }

  &:hover {
    cursor: pointer;
    .content-underline {
      background-color: $aotu-blue;
    }
    .content-name,
    .content-desc {
      color: $aotu-blue;
    }
  }
}

.wrapper-last {
  margin-right: 0;
}

.wrapper-odd {
  margin-top: 9%;
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 180px;
    height: 80%;
    margin-right: 20px;

    .content-img {
      width: 100%;
      height: 218px;
      overflow: hidden;
    }

    .content-underline {
      width: 100%;
      height: 5px;
      background-color: $module-dark;
    }

    .content-name {
      margin-top: 19px;
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      color: $module-dark;
    }

    .content-desc {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 300;
      line-height: 12px;
      color: #707070;
    }
  }

  .wrapper-odd {
    margin-top: 0;
  }
}
